@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
}

header {
    border: 2px solid red;
    width: 1440px;
    margin: auto;
}

nav {
    width: 1120px;
    margin: auto;
}

.navbar_menu {
    width: 1120px;
    height: 120px;
    margin: 0px 0px 0px -13px;
    position: absolute;
}

.navbar_links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 23px;
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: -20px 0px 0px 240px;
}

.header_logo {
    margin: 50px 0px 0px 0px;
}

.link {
    width: 351px;
    height: 23px;
    font-family: Jost;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #888888;
}

.link:hover {
    color: red;
    transition: 0.5s;
}

.navbar_buttons {
    width: 450px;
    height: 100px;
    margin: -35px 0px 0px 700px;
}

.search_input {
    border: none;
    width: 240px;
    height: 50px;
    background: #E21A431A;
    margin: -10px 0px 0px 0px;
}

.header_search_btn {
    border: none;
    width: 50px;
    height: 50px;
    background: #E21A43;
    margin: 0px 0px 0px -4px;
}

.header_user_btn {
    border: none;
    width: 50px;
    height: 50px;
    background: #E21A431A;
    margin: 0px 0px 0px 8px;
}

.header_cart_btn {
    border: none;
    width: 50px;
    height: 50px;
    background: #E21A431A;
    margin: 0px 0px 0px 6px;
}

/* HEADER PAGE */

.header_page {
    width: 1120px;
    height: 650px;
    margin: 00px 0px 0px -13px;
    font-family: "Josefin Sans", sans-serif;
}

.header_info {
    width: 548px;
    height: 204px;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 102.4px;
    text-align: left;
    color: #333333;
    margin: 180px 0px 0px 0px;
    font-family: "Josefin Sans", sans-serif;
}

.header_paragraph {
    width: 570px;
    height: 53px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #666666;
    margin: 10px 0px 0px 0px;
    font-family: "Josefin Sans", sans-serif;
}

.header_btn_1 {
    width: 130px;
    height: 50px;
    background: #E21A43;
    color: #FFFF;
    border: none;
    margin: 30px 0px 0px 0px;
}

.header_btn_2 {
    border: 1px solid #E21A43;
    color: #E21A43;
    background: transparent;
    width: 130px;
    height: 50px;
    font-weight: 500;
    margin: 0px 0px 0px 15px;
}

.header_img {
    width: 600px;
    height: 560px;
    margin: -390px 0px 0px 516px;
}

.foods {
    background-color: #fff;
    width: 760px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    top: 2000px;
    margin: -800px 0px 0px 0px 100px;
}

.foods_father {
    position: relative;
    text-align: center;
    width: 770px;
    height: 110px;
    margin: -100px 0px 0px 160px;
    box-shadow: 0px 5px 5px #e7e2e2;
}

/* NEW PRODUCTS PAGE */

.products_background {
    width: 1440px;
    height: 900px;
    background: #F7F7F7;
    margin: -60px 0px 0px -160px;
}

.products_page {
    position: relative;
    background: #F7F7F7;
    width: 100%;
    height: 800px;
    margin: -900px 0px 0px 0px;
}

.products_header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin: 150px 0px 0px 520px;
}

.line_1 {
    width: 30px;
    height: 0px;
    border: 2px solid #666666
}

.line_2 {
    width: 30px;
    height: 0px;
    border: 2px solid #666666
}

.left_right {
    width: 130px;
    height: 45px;
    margin: 5px 0px 0px 915px;
    display: flex;
    justify-content: space-evenly;
}

.left {
    border: 2px solid #E21A43;
    width: 40px;
    height: 40px;
    color: #E21A43;
    border: 1px 0px 0px 0px;
}

.left:focus {
    background: #E21A43;
    color: #FFFF;
    transition: 0.5s;
}

.right {
    border: 2px solid #E21A43;
    width: 40px;
    height: 40px;
    color: #E21A43;
    border: 1px 0px 0px 0px;
}

.right:focus {
    background: #E21A43;
    color: #FFFF;
    transition: 0.5s;
}

/* ---------------- */

.products_page_father {
    display: flex;
    justify-content: space-evenly;
}

.products_card_1 {
    border: none;
    width: 240px;
    height: 560px;
    background: #FFFFFF;
    margin: 30px 0px 0px 0px;
    position: relative;

}

.products_img_1 {
    border: none;
    width: 100%;
    height: 410px;
    position: relative;
}

.products_header_1 {
    width: 100%;
    height: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
    margin: 12px 0px 0px 0px;
}

.products_btn_1 {
    border: none;
    background: #E21A431A;
    color: #E21A43;
    width: 110px;
    height: 40px;
    margin: 20px 0px 0px 60px;
    font-weight: 700;
}

/* -------------------------------------- */

.products_img_2 {
    border: none;
    width: 246px;
    height: 268px;
    margin: 10px 0px 0px 10px;
    background: #e10909;
}

.products_card_2 {
    border: none;
    width: 270px;
    height: 402px;
    background: #FFFFFF;
    margin: 110px 0px 0px 0px;
}

.products_page_btns {
    border: none;
    width: 160px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 5px #333333;
    margin: -20px 0px 0px 53px;
    position: relative;
    background: #FFFFFF;
}

.products_plus {
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.products_plus:focus {
    color: #e10909;
    transition: 0.5s;
}

.produsts_rotate {
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.produsts_rotate:focus {
    color: #e10909;
    transition: 0.5s;
}

.products_heart {
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.products_heart:focus {
    color: #e10909;
    transition: 0.5s;
}

.products_search {
    border: none;
    background: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_search:focus {
    color: #e10909;
    transition: 0.5s;
}

.products_paragraph_2 {
    border: none;
    width: 240px;
    height: 18px;
    color: #666666;
    margin: 20px 0px 0px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-weight: 500;
}

.products_price_2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #333333;
    margin: 20px 0px 0px 10px;
}

.product_price_x_2 {
    border: 1px solid rgb(87, 84, 84);
    width: 65px;
    margin: 29px 0px 0px 12px;
    position: absolute;
}


/* --------3------- */


.products_img_3 {
    border: none;
    width: 246px;
    margin: 10px 0px 0px 10px;
    background: #e10909;
}

.products_card_3 {
    width: 270px;
    height: 402px;
    background: #FFFFFF;
    margin: 110px 0px 0px 0px;
}

.products_paragraph_3 {
    width: 240px;
    height: 18px;
    color: #666666;
    margin: 20px 0px 0px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-weight: 500;
}

.products_price_3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #333333;
    margin: 20px 0px 0px 10px;
}

.product_price_x_3 {
    border: 1px solid rgb(87, 84, 84);
    width: 65px;
    margin: 29px 0px 0px 12px;
    position: absolute;
}

/* --------4------- */


.products_img_4 {
    border: none;
    width: 246px;
    margin: 10px 0px 0px 10px;
    background: #e10909;
}

.products_card_4 {
    width: 270px;
    height: 402px;
    background: #FFFFFF;
    margin: 110px 0px 0px 0px;
}

.products_paragraph_4 {
    width: 240px;
    height: 18px;
    color: #666666;
    margin: 20px 0px 0px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-weight: 500;
}

.products_price_4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #333333;
    margin: 20px 0px 0px 10px;
}

.product_price_x_4 {
    border: 1px solid rgb(87, 84, 84);
    width: 65px;
    margin: 29px 0px 0px 12px;
    position: absolute;
}

/* DELIVERY PAGE */

.delivery_page {
    margin: 0px 0px 0px -163px;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 1440px;
    height: 600px;
}

.delivery_images {
    width: 570px;
}

.delivery_background {
    margin: 160px 0px 0px 15px;
    position: absolute;
}

.delivery_images_left {
    position: absolute;
    width: 50%;
    display: flex;
    height: 500px;
    margin: 70px 0px 0px -30px;
}


.delivery_img_1 {
    width: 149px;
    background: #E21A4312;
    height: 149px;
    transform: rotate(50deg);
    position: absolute;
    margin: 0px 0px 0px -55px;
}

.delivery_image_1 {
    position: relative;
    width: 149px;
    height: 149px;
    bottom: 200px;
    margin: 200px 0px 0px -60px;
    /* border-block-start-style: dotted; */
}

.delivery_image_2 {
    width: 320px;
    height: 320px;
    margin: 20px 0px 0px 140px;
    transition: .5s;
}

.delivery_image_2:hover {
    filter: drop-shadow(10px 7px 10px orange);
}

.delivery_image_3 {
    width: 320px;
    height: 320px;
    position: absolute;
    margin: 30px 0px 0px -60px;
    transition: .5s;
}

.delivery_image_3:hover {
    filter: drop-shadow(10px 7px 10px orange);
}

.delivery_image_4 {
    width: 320px;
    height: 320px;
    margin: -150px 0px 0px 310px;
    transition: .5s;
}

.delivery_image_4:hover {
    filter: drop-shadow(10px 7px 10px orange);
}

.delivery_images_right {
    width: 50%;
    margin: 0% 0% 0% 50%;
    padding: 100px 0px 0px 90px;
}

.delivery_header {
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    font-size: 60px;
    width: 570px;
    height: 181px;
    margin: 80px 0px 0px 0px;
}

.delivery_price {
    width: 214px;
    height: 48px;
    color: #666666;
    font-weight: 600;
    font-size: 32px;
    margin: 30px 0px 0px 0px;
}

.delivery_btn {
    margin: 30px 0px 0px 0px;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #E21A43;
    color: #E21A43;
}

/* SELLING PAGE */

.selling_page {
    margin: 0px 0px 0px -165px;
    position: absolute;
    background: #F7F7F7;
    width: 1440px;
    height: 800px;
    display: flex;
    justify-content: center;
}

.selling_header {
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}

span {
    border: 2px solid black;
    width: 30px;
}

.selling_header_part {
    width: 600px;
    height: 100px;
    text-align: center;
}

.selling_link {
    text-decoration: none;
    color: #333333;
    font-size: 17px;
}

.selling_link:focus {
    text-decoration: underline red;
    color: red;
}

.selling_links {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.selling_cards {
    background-color: #F7F7F7;
    position: absolute;
    margin: 0px 0px 0px -380px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selling_img_1 {
    width: 246px;
    height: 298px;
    margin: 10px 0px 0px 10px;
    background: transparent;
    background-color: #F7F7F7;
}

.selling_card_1 {
    width: 270px;
    height: 402px;
    background: #FFFFFF;
    margin: 110px 0px 0px 0px;
}

.selling_del {
    color: #666666;
    font-size: 22px;
    font-weight: 400;
}

.selling_span {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    border: none;
}

.selling_paragraph_1 {
    color: #666666;
    text-align: left;
    padding-left: 10px;
}

.selling_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    width: 100%;
    margin: 700px 0px 0px 0px;
}

.selling_btn_1 {
    border: 1px solid #E21A43;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selling_btn_2 {
    border: 1px solid #E21A43;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selling_icon_2 {
    transform: rotate(180deg);
}

/* FRESH PAGE */

.fresh_page {
    margin: 700px 0px 0px -420px;
    position: absolute;
    width: 1440px;
    height: 540px;
    display: flex;
    justify-content: space-between;
}

.fresh_image {
    margin: 45px 0px 0px 60px;
}

.fresh_right {
    padding: 50px 0px 0px 0px;
}

.fresh_header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 590px;
    height: 228px;
    font-size: 54px;
    font-weight: 600;
    text-align: left;
}

.fresh_paragraph {
    width: 550px;
    height: 49px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #666666;
}

.fresh_icons {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin: 25px 0px 0px 0px;
}

.fresh_icon_1 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 230px;
    height: 23px;
}

.fresh_icon_paragraph_1 {
    color: #666666;
}

.fresh_icon_2 {
    display: flex;
    justify-content: start;
    text-align: left;
    width: 230px;
    height: 23px;
}

.fresh_icon_paragraph_2 {
    padding: 0px 0px 0px 10px;
    text-align: right;
    color: #666666;
}

.btn_fresh {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.fresh_btn {
    margin: 5px 0px 0px 0px;
    background: #FFFFFF;
    color: #E21A43;
    border: 2px solid #E21A43;
    width: 110px;
    height: 50px;
}

/* BEST SELLING PAGE */

.best_selling_page {
    width: 1440px;
    height: 900px;
    position: relative;
    margin: 1250px 0px 0px -420px;
    background-color: #F7F7F7;
}

.best_selling_header_part {
    width: 600px;
    height: 130px;
    margin: 0px 0px 0px 500px;
}

.best_selling_header {
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}

span {
    border: 2px solid black;
    width: 30px;
}

.best_selling_header {
    width: 600px;
    height: 100px;
    text-align: center;
}

.best_selling_link {
    text-decoration: none;
    color: #333333;
    font-size: 17px;
}

.best_selling_link:focus {
    text-decoration: underline red;
    color: red;
}

.best_selling_links {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

/* CARDS */

.base_card {
    margin: -40px 0 0 20px;
    padding: 10px 0px 0px 0px;
    background-color: #fff;
    width: 330px;
}

.base_img {
    background-color: #F7F7F7;
    width: 300px;
    height: 300px;
}

.prime_time {
    border: 2px solid red;
    margin: 13px 0px 13px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.base_day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 55px;
    background: #E21A4326;
    color: #E21A43;
}

.base_hour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 55px;
    background: #E21A4326;
    color: #E21A43;
}

.base_minut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 55px;
    background: #E21A4326;
    color: #E21A43;
}

.base_secund {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 55px;
    background: #E21A4326;
    color: #E21A43;
}

.base_header {
    padding-left: 10px;
    width: 90%;
}

.base_paragraph {
    padding-left: 10px;
    color: #666666;
    width: 90%;
    font-size: 19px;
    font-weight: 400;
    text-align: left;
}

.base_price {
    height: 50px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
    text-align: center;
}

.price--1 {
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #666666;
}

.price--2 {
    border: none;
    color: #e10909;
    font-size: 28px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.base_buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
    padding-bottom: 20px;
}

.base_btn_1 {
    color: #FFFFFF;
    border: none;
    background-color: #e10909;
    width: 220px;
    height: 50px;
    font-size: 23px;
}

.base_btn_2 {
    color: #e10909;
    background: #E21A4333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: none;
    width: 50px;
    height: 50px;
}

/* MINI-CARDS */

.mini_cards {
    margin: 30px 0px 0px 200px;
    width: 1400px;
    height: 700px;
    position: absolute;
}

.mini_cards_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.mini_cards_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.mini_cards_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.mini_cards_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.card-1 {
    background-color: #FFFFFF;
    display: flex;
    height: 160px;
}

.left-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.peanut_img {
    background-color: #F7F7F7;
    width: 120px;
    height: 120px;
}

.right-card {
    padding: 10px 0px 0px 10px;
}

.mini_header {
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #000000;
}

.mini_price {
    margin: 0px 0px 0px -75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mini_price_1 {
    font-size: 20px;
    color: #666666;
}

.mini_price_2 {
    font-weight: 700;
    font-size: 23px;
    border: none;
    color: #e10909;
}

.mini_btn {
    margin-right: 40px;
    border: 2px solid #E21A43;
    width: 110px;
    height: 45px;
    color: #E21A43;
    font-weight: 700;
    background-color: #FFFFFF;
}

.mini_rating {
    text-align: left;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.mini_rating_number {
    width: 20%;
    padding-left: 10px;
    color: #e10909;
}

/* FOOTER PAGE */

.footer_info {
    margin: 0px 0px 0px -420px;
    width: 1440px;
    height: 600px;
    position: relative;
    border: 2px solid green;
}

.footer_header {
    width: 610px;
    height: 140px;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-align: left;
    margin: 170px 0px 30px 100px;
}

.footer_paragraph {
    width: 587px;
    height: 54px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0px 0px 30px 100px;
}

.footer_info_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_images {
    padding-right: 130px;
}

/* -------------------- */

.footer_page {
    margin: 0px 0px 0px -420px;
    background-color: #F7F7F7;
    border: 2px solid red;
    width: 1440px;
    height: 550px;
}

.footer_logo {
    border: 2px solid red;
    width: 200px;
    height: 200px;
}

.footer_links_1 {
    border: 2px solid red;
}

.footer_paragraf {
    border: 2px solid red;
    width: 270px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #666666;
}

.footer_links_2 {
    border: 2px solid red;
}

.footer_links_3 {
    border: 2px solid red;
}

.footer_links_4 {
    border: 2px solid red;
}

.facebook {
    border: 2px solid red;
}

.in {
    border: 2px solid red;
}